@import "./constants.scss";
.bottombar{
    border-top: 5px solid #1b1b1b;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    background: #1b1b1b;
    padding-top: 0.5rem;
    
    .map{

    }

    .info{
        .copyright{
            font-size: 12px;
        }
        width: 100%;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 100%;
        display: flex;
        .contactInfo{
            color: lightgray;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .logo{

            }
            .socialMedia{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                /* margin-top: 12rem; */
                width: 100%;
                .ig{
                    background-image: url(https://cdn.icon-icons.com/icons2/792/PNG/512/INSTAGRAM_icon-icons.com_65535.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 44px;
                    height: 44px;
                }
                .fb{
                    background-image: url(https://cdn.icon-icons.com/icons2/792/PNG/512/FB_icon-icons.com_65534.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 44px;
                    height: 44px;
                }
                .wp{
                    background-image: url(https://cdn.icon-icons.com/icons2/792/PNG/512/whatsapp_icon-icons.com_65542.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 44px;
                    height: 44px;
                }
            }
        }
    }

}

.bottomBarMobile{
    border-top: 5px solid #1b1b1b;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    background: #1b1b1b;
    padding-top: 0.5rem;
    align-items: center;
    
    .mapMobile{
        .mapMobileIframe{

        }
    }
    .infoMobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        opacity: .4;
        .copyrightMobile{
            font-size: 10px;
        }
        .contactInfoMobile{
            color: lightgray;
            .logo{

            }
            .socialMediaMobile{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                /* margin-top: 12rem; */
                margin-bottom: 10px;
                .ig{
                    background-image: url(https://cdn.icon-icons.com/icons2/792/PNG/512/INSTAGRAM_icon-icons.com_65535.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 25px;
                    height: 25px;
                }
                .fb{
                    background-image: url(https://cdn.icon-icons.com/icons2/792/PNG/512/FB_icon-icons.com_65534.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 25px;
                    height: 25px;
                }
                .wp{
                    background-image: url(https://cdn.icon-icons.com/icons2/792/PNG/512/whatsapp_icon-icons.com_65542.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }

}