@import "./constants.scss";
.headerbar{
    /*border-bottom: 1px solid rgba(179,179,179,1);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    /* box-shadow: none; */
    webkit-box-shadow: $SHADOW;
    -moz-box-shadow: $SHADOW;
    box-shadow: $SHADOW;
    background: $BAR_COLOR;
    .logo{
        background-image: url(/src/assets/logo/logo_transparent.png);
    }
    .opciones{

    }
}