.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .searchInput{
        width: 100%;
        margin: 20px;
        height: 38px;
        border-radius: 5px;
        border: 1px solid lightgray;
        padding-left: 2rem;
        /* box-shadow: 2px 16px 17px 0px #8a8a8a; */
        background-color: black;
        color: white;
        margin-top: 4rem;
    }
    .vehicleList{
        display: grid;
        grid-template-columns: 23rem 23rem 23rem;
        margin: 20px;
    }
}
