.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.65);
    &.mobile{
                
    }
  }
  .modal {
    position: absolute;
    margin: 15% auto auto 33% !important;
    min-width: 26rem !important;
    max-width: 26rem;
    border: 1px solid #cccccc;
    background: white;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    background: white;
    -webkit-animation: appear 4s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: appear 4s; /* Firefox < 16 */
      -ms-animation: appear 4s; /* Internet Explorer */
      -o-animation: appear 4s; /* Opera < 12.1 */
      animation: appear 4s;
    &.mobile{
        max-width: 10rem !important;
        min-width: 1rem !important;
        margin: 47% auto auto 37% !important;
        font-size: smaller;
        padding: 10px !important;          
    }
    &.appear {
      -webkit-animation: appear 1s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: appear 1s; /* Firefox < 16 */
      -ms-animation: appear 1s; /* Internet Explorer */
      -o-animation: appear 1s; /* Opera < 12.1 */
      animation: appear 1s;
    }
    &.desappear {
      -moz-animation: desappear 1s; /* Firefox < 16 */
      -ms-animation: desappear 1s; /* Internet Explorer */
      -o-animation: desappear 1s; /* Opera < 12.1 */
      animation: desappear 1s;
    }
    &.overlay {
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: rgba(0, 0, 0, 0.65);
      &.mobile{
                
    }
    }
    .genericModal {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      &.mobile{
                
        }
      .modalHeader{
        width: 100%;
        border-bottom: 3px solid lightgray;
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.mobile{
                
        }
        .headerText{
            
            &.mobile{

            }
            .modalTitle{
                font-weight: bold;
                &.mobile{
                    
                }
            }
            .banner{
                text-align: center;
                color: white;
                background: red;
                padding: 2px;
                border-radius: 30px;
            }
        }
        .closeBtn{
            border: none !important;
            background: none !important;
            &.mobile{
                
            }
        }
      }
      .modalBody{
        width: 70%;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &.mobile{
            width: 100% !important;     
        }
        .socialMedia{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            &.mobile{

            }
            .ig{
                background-image: url(https://cdn.icon-icons.com/icons2/792/PNG/512/INSTAGRAM_icon-icons.com_65535.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                width: 15px;
                height: 15px;
            }
            .fb{
                background-image: url(https://cdn.icon-icons.com/icons2/792/PNG/512/FB_icon-icons.com_65534.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                width: 15px;
                height: 15px;
            }
            .wp{
                background-image: url(https://cdn.icon-icons.com/icons2/792/PNG/512/whatsapp_icon-icons.com_65542.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                width: 15px;
                height: 15px;
            }
        }
        .dataInfo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid lightgrey;
            padding-bottom: 5px;
            margin-bottom: 5px;
            &.mobile{
                display: flex !important;
                justify-content: space-between  !important;
                align-items: center !important;
                border-bottom: 1px solid lightgray !important;
                padding-bottom: 5px !important;
            }
        }
        .link{
            margin-top: 1rem;
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            background: rgb(0, 162, 255);
            padding: 4px;
            color: white;
            border-radius: 30px;
            &.mobile{

            }
        }
      }
    }
  }






  