@import "./constants.scss";
.link{
    -webkit-animation: flip-in-diag-2-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-diag-2-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    text-decoration: none;
    color: black;
    .vehicleListItem{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        border: 1px solid;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 2px 16px 17px 0px #1b1b1b;
        -moz-box-shadow: 2px 16px 17px 0px #1b1b1b;
        box-shadow: 2px 16px 17px 0px #1b1b1b;
        .tileSold{
            color: white;
            width: 100%;
            padding: 5px;
            border-radius: 30px;
            font-weight: 600;
            background: -moz-radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
            background: -webkit-radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
            background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
        }
        .desc{
            width: 100%;
            .price{
                color: white;
                font-family: $PN_BOLD;
                background-color: #000000ba;
            }
            .name{
                color: white;
                display: flex;
                flex-direction: column;
                margin-top: 16rem;
                background-color: #000000ba;
                width: 100%;
                height: 63px;
                border-radius: 0rem 0rem 1rem 1rem;
                .brand{
                    margin-top: 0.7rem;
                    margin-right: 13rem;
                    font-family: $PN_BOLD;
                    font-size: 20px;
                    width: 100%;
                }
                .model{
                    margin-right: 16.5rem;
                    width: 100%;
                    font-family: $PN_THIN;
                }
            }
        }
    }
}

.linkMobile{
    -webkit-animation: flip-in-diag-2-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-diag-2-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    text-decoration: none;
    color: black;
    .vehicleListItemMobile{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        border: 1px solid;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 2px 16px 17px 0px #1b1b1b;
        -moz-box-shadow: 2px 16px 17px 0px #1b1b1b;
        box-shadow: 2px 16px 17px 0px #1b1b1b;
        .tileSoldMobile{
            color: white;
            width: 100%;
            font-size: 11px;
            border-radius: 30px;
            font-weight: 400;
            background: -moz-radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
            background: -webkit-radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
            background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
        }
        .desc{
            width: 100%;
            .price{
                color: white;
                font-family: $PN_BOLD;
                background-color: #000000ba;
            }
            .name{
                color: white;
                display: flex;
                flex-direction: column;
                margin-top: 16rem;
                background-color: #000000ba;
                width: 100%;
                height: 63px;
                border-radius: 0rem 0rem 1rem 1rem;
                .brand{
                    margin-top: 0.7rem;
                    margin-right: 13rem;
                    font-family: $PN_BOLD;
                    font-size: 20px;
                    width: 100%;
                }
                .model{
                    margin-right: 16.5rem;
                    width: 100%;
                    font-family: $PN_THIN;
                }
            }
        }
        

    }
}

@-webkit-keyframes flip-in-diag-2-br {
    0% {
      -webkit-transform: rotate3d(-1, 1, 0, -80deg);
              transform: rotate3d(-1, 1, 0, -80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
      opacity: 1;
    }
  }
  @keyframes flip-in-diag-2-br {
    0% {
      -webkit-transform: rotate3d(-1, 1, 0, -80deg);
              transform: rotate3d(-1, 1, 0, -80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
      opacity: 1;
    }
  }
  

